
*.o

debug/audio.dat.sf

*.hf

*.raw

*.s

debug/debug

*.sf

*.dat

*.dat-adaptive-huffman

*.dat-huffman

*.dat-run-length

*.dat-modi-run-length

*.dat-modi-run-length-recov

*.dat-shannon-fano

*.dat-run-length-recov

*.dat-MTF

debug/lossless

*.raw-shannon-fano

*.raw-RL-huffman

*.raw-RL

*.raw-adaptive-huffman

*.raw-MRL

*.raw-RL-adaptive-huffman

*.raw-adaptive-huffman-RL

*.raw-huffman

debug/text.dat-MTF-MTFD
